$light-green: #9AFFD0;
$light-blue:#6CC4EB;
$box-shadow: 0px 8px 28px rgba(0,0,0,0.2);
$btn-blue:#068DF8;

*,p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 16px !important;
    color: #777 !important;
  }  

  ::-webkit-input-placeholder { /* Edge */
    font-style: italic;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: italic;
  }
  ::placeholder {
    font-style: italic;
  }
  .negative.message {
    background: #FFF6F6;
    color: #912D2B !important;
    padding: 10px 20px;
    /* box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.2); */
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #912D2B;
    p{
      color:#912D2B !important;
    }
}
.positive.message {
  padding: 10px 15px;
  background: #FCFFF5;
  margin-bottom: 30px;
  border-radius: 5px;
  color: #407040;
  font-weight: 500;
  border: 1px solid #407040;
  /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.21); */
}
.form-control{
    border-radius: 25px !important;
    margin-bottom: 25px;
    padding: 10px 25px !important;
  
    &:focus{
      box-shadow: none;
      border-color:$btn-blue;
    }
  }
  .field{
    margin:15px 0px !important;
  } 
  .ui.primary.button, .ui.primary.buttons .button{
    border-radius: 25px !important;
    background-color:#068DF8;
    padding:12px 25px; 
    width: 100%;
  }
  .bold-text{
    font-weight: 600;
  }
.uppercase-txt{
  text-transform: uppercase;
}