// .ui.basic.button.delete-button{
//     i{
//         background:rgb(222, 61, 61);
//         color: #fff;
//     }
//     &:hover{
//         background: #feeeee  none!important;
//     }
// }

.description  p{
    font-size: 14px;
    color: #333333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    font-size: 18px;
}

.item{
    .image{
        width: 275px !important;
        img{
           height: 100%;
    
        }
    }
}


.payment-response {
    margin-right: 50px;
    border: 1px solid #efefef;
    padding: 40px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
}
.payment-success {
    .icon{
        height: 120px;
        width:120px;
        margin: 0 auto;
        img{
            height: 100%;
            width:100%;
            padding: 5px;
            object-fit: contain;
        }
    }
    p{
        color: #333;
    }
    .msg {
        font-size: 24px;
    }
    .msg.green{
        color: #4CAF50;
    }
    .msg.red{
        color: #E91E63;
    }
}