.logo {
    padding: 10px;
    border-bottom: 1px dashed #e5e5e5;
    margin-bottom: 15px;
    margin: 0 auto 15px auto;
  }
  
  .logo__img {
    width: 40px;
  }

.two-col-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    @media(min-width: 768px){
        grid-template-columns: 245px auto;
    }
    @media(min-width: 1420px){
        grid-template-columns: 300px 700px;
    }
}
.product-image{
    height: 220px;
    background:url('placeholder.png');
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        
    }
}

.product-detail{
    p{
        color: #777;
        span{
            font-weight: bold;
            color: #4A4A4A;
        }
    }
}
.button {
    font-size: 16px;
    text-decoration:none;
    color:#fff !important;
    box-shadow:0px 0px 0px rgba(0,0,0,0);
    display: inline-block;
    @media(max-width: 768px){
        font-size: 14px !important;
        padding: 8px 15px !important;
        font-weight: 400 !important;
    }
}
.buy-btn{
    background:#068DF8 !important;
    &:hover{
        background:#0077d6 !important;
        text-decoration:none;
    }
}


// questionnaire styles
.question-title {
    font-size: 18px;
    color: #43425D;
    margin-bottom: 25px;
    font-weight:400;
    @media(max-width: 768px){
        font-size: 14px;
        text-align: justify;
    }
}
.question-wrap{
    padding:20px;
    background: #fff;
}
.ui.radio.checkbox .box:after, .ui.radio.checkbox label:after{
    background-color: #007bff !important;
}
.ui.checkbox input:checked~.box:before, .ui.checkbox input:checked~label:before{
    border-color: #007bff !important;
}
.ui.checkbox label, .ui.checkbox+label{
    line-height: 17px;
    margin-bottom: 25px
}


button.ui.blue.mini.button.buy-btn {
    height: 30px;
    width: 30px;
    line-height: 28px;
    background: transparent !important;
    border: 2px solid #068df8;
    padding: 0px!important;
    text-align: center;
    color: #068df8 !important;
    font-weight: 800;
    border-radius: 50% !important;
    margin-right: 10px;
    i{
        margin:0px !important;
    }
}


button.ui.button.buy-btn.prev-btn {
    opacity: 0.6;
    &:hover{
        opacity: 1;
    }
}


.wrapper {
    position: relative;
}

.float-right {
    float: right !important;
    color: #777;
    line-height: 29px;
}
button.ui.icon.button.answer-tip {
    padding: 8px 5px !important;
    background: transparent;
    border-radius: 50% !important;
    float:right;
    transition:.4s;
    &:hover{
        i{
            color:#21ba45;
        }
    }
    i{
        font-size:20px;
        color:#e97e06;
    }
}
.loader-wrap.ui.segment{
    width: 400px;
    height: 200px;
}

.resultdetail{
    padding: 20px;
    background:#fff;    
}
p.your-answer {
    color: #777 !important;
    b{
        margin-right:10px;
       
    }
}

.ui.mini.modal.transition.visible.active.confirmed-page {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.question-wrap{
    label{
        font-weight: 400 !important;
    }
}

.obt-fit{
    img{
        // height: 100%;
        width: 100%;
        object-fit: contain;
    }
}