$light-green: #9AFFD0;
$light-blue:#6CC4EB;
$box-shadow: 0px 8px 28px rgba(0,0,0,0.2);
$btn-blue:#068DF8;


.register-wrap {
    padding: 80px 0;
    background:linear-gradient(130deg, #9AFFD0, #6CC4EB);
    height:100vh;
    overflow: auto;
}
.register-form{
    background: #fff;
    padding:55px 35px;
    box-shadow: 0px 0px 28px rgba(0,0,0,0.2);
    border-radius: 10px;
    position: relative;

        &::before{
        position:absolute;
        content: '';
        height: 105px;
        width: 84px;
        background:url('wave.png');
        top: 0;
        right: 0;
    }
    &::after{
        position: absolute;
        content:'';
        height: 105px;
        width: 84px;
        bottom: 0;
        left:0;
        background:url('wave.png');
        transform: rotate(-180deg)
    }
    
}
.pos-rel{
    .has-indicator{
        position: relative;
        .show-pass{
            position: absolute;
            top: 52%;
            right:15px;
        }
    }
}
.ui.tiny.progress .bar{
    height: 100%;
}

.user-confirmation{
    position: relative;
    height: 100vh;
    .wrapper {
        height: fit-content;
        width: 360px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .button {
        margin: 20px 0;
        text-align: center;
        display: inline-block;
        background: #007bff;
        padding: 5px 15px;
        color: #fff;
        border-radius: 5px;
        &:hover{
            color:#fff;
            background:#005ec4;
        }
    }
    .spinner{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
 }
 .checkbox-inline {
    display: grid;
    /* align-items: center; */
    grid-template-columns: 30px 1fr;
    label{
        margin:0 !important;
        font-size: 15px !important;
        font-weight: 400;
    }
}

.checkbox-inline.error{
    .ui.fitted.checkbox{
        label{
            &:before{
                border-color:#af6666;
                background:#fff6f6;
            }
            
        }
    }

}