
.dropzone {
  margin: 20px 0;
  text-align: center;
  cursor: pointer;
  border: 2px dashed black;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s cubic-bezier(0.8, 0, 0.2, 1);
  &:hover {
    border-color: #5bc0de;
    border-style: solid;
    box-shadow: 0 0 10px #009dc9;
    background-color: #fff;
  }
}

.dashboard__content {
  padding: 30px;
  margin-left: 220px;
  margin-top: 64px;
}
.dashboard__content-user {
  padding: 30px;
  margin-top: 64px;
  margin-left: 220px;
}
.message.toaster {
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 1090;
  animation: slideIn 0.5s forwards;
}
@keyframes slideIn {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.loader_wallet {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// title

.title{
  .icon{
    font-size: 36px;
    &.bitcoin{
      color: #ff7b00;
    }
  }
}

// stats card
.stats{
  &__title{
    text-transform: uppercase;
    color: #777;
  }
  &__value{
    font-size: 24px;
    font-weight: 800;
  }
}

//qr
.qr{
  canvas{
    padding: 5px;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
  }
}

//table-title
.tbl-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.tbl-title{
  font-size: 18px;
  font-weight: 800;
}