
.dropzone {
  margin: 20px 0;
  text-align: center;
  cursor: pointer;
  border: 2px dashed black;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s cubic-bezier(0.8, 0, 0.2, 1);
  &:hover {
    border-color: #5bc0de;
    border-style: solid;
    box-shadow: 0 0 10px #009dc9;
    background-color: #fff;
  }
}

.dashboard__content {
  padding: 30px;
  margin-left: 220px;
  margin-top: 64px;
}
.dashboard__content-user {
  padding: 30px;
  margin-top: 64px;
  margin-left: 220px;
  @media screen and (max-width:768px){
    margin-left:50px;
  }
}
.message.toaster {
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 1090;
  animation: slideIn 0.5s forwards;
}
@keyframes slideIn {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.loader_wallet {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid $main-color;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// title

.title{
  
  font-size: 28px;
  margin-bottom: 15px;
  font-weight:700;

  .icon{
    font-size: 36px;
    &.bitcoin{
      color: #ff7b00;
    }
  }
}

// stats card
.stats{
  &__title{
    text-transform: uppercase;
    color: #777;
  }
  &__value{
    font-size: 24px;
    font-weight: 800;
  }
  @media(max-width:990px){
    margin-bottom:20px !important;
  }
}

//qr
.qr{
  canvas{
    padding: 5px;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
  }
}
// main-heading
.text-muted{
  opacity: 0.5;
  font-size: 18px;
}
// small-heading

.sm-heading{
  margin-bottom: 15px;
  .title{
    font-size: 18px;
    span{
      height: 30px;
      width: 30px;
      display: inline-block;
      line-height: 30px;
      background: #eeeeee;
      text-align: center;

      border-radius: 50%;
    }
    i.icon{
      font-size: 15px;

    }
  }
}
//table-heading
.tbl-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.tbl-title{
  font-size: 18px;
  font-weight: 800;
}

// statistics
.text-green{
  color:#00b527;
}
.text-red{
  color:#DB2828;
}
.main-statistics{
  display: flex;
  height: 100px;
  div{
   
    flex-basis: 0;
    flex: 1 1 0px;
    position: relative;
    
    p{
      position: absolute;
      &.title{
        top: 0;
      }
      &.value{
        bottom: 0;
      }
    }
    &:first-of-type{
      .value{
        font-weight: 800;
        font-size: 32px;
      }
    }
  }
  .title{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
  }
  .value{
    font-weight: 800;
    font-size: 22px;
  }
}


.wallet-address-table {
  color: #0d2585;
}
.text-center{
  text-align: center;
}
.mr-2{
  margin-right: 16px !important;
}
//wallet and address page tab design 

.ui.button.eye-button{
   padding: 0.5em 0.75em;
   background: transparent;
   i {
     margin: 0px;
   }
}

.textarea-description {
  border: 1px solid #57B0EB !important;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05) !important;
  border-radius: 12px !important;
}