.login__wrap {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background-image: url('../images/exchange/cashaa-bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.login__box {
  min-width: 70%;
  flex: 0 0 400px;
  background-color: #eee;
  background-image: url('../images/exchange/white-bg.jpg');
  padding: 15px 10px;
  border-radius: 3px;
  h3 {
    text-align: center;
  }
  p {
    margin-bottom: 0.5rem;
  }
}
.login__info {
  text-align: center;
}
.login__logo {
  margin: 0 auto;
  max-width: 120px;
}
.has-indicator {
  position: relative;
  .showPass {
    position: absolute;
    bottom: 8px;
    right: 8px;
  }
}
.alt-link {
  color: #563d7c;
  cursor: pointer;
  box-shadow: 0 1px 0 #563d7c;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 2px;
  transition: all 200ms ease-in-out;
  &:hover {
    box-shadow: none;
  }
}

.register__box {
  min-width: 70%;
  flex: 0 0 400px;
  background-color: #eee;
  background-image: url('../images/exchange/white-bg.jpg');
  padding: 15px 10px;
  border-radius: 3px;
}

.signup__wrap {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background-image: url('../images/exchange/cashaa-bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.totp__input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
