// #app {
//   position: relative;
//   overflow: hidden;
//   width: 100%;
//   min-height: 100vh;
// }

// .rcs-custom-scroll {
//   min-height: 0;
//   min-width: 0;
// }
// .rcs-custom-scroll .rcs-outer-container {
//   overflow: hidden;
// }
// .rcs-custom-scroll .rcs-outer-container .rcs-positioning {
//   position: relative;
// }
// .rcs-custom-scroll .rcs-outer-container:hover .rcs-custom-scrollbar {
//   opacity: 1;
//   transition-duration: 0.2s;
// }
// .rcs-custom-scroll .rcs-inner-container {
//   overflow-x: hidden;
//   overflow-y: scroll;
//   -webkit-overflow-scrolling: touch;
// }
// .rcs-custom-scroll .rcs-inner-container:after {
//   content: '';
//   position: absolute;
//   top: 0;
//   right: 0;
//   left: 0;
//   height: 0;
//   background-image: linear-gradient(
//     to bottom,
//     rgba(0, 0, 0, 0.2) 0%,
//     rgba(0, 0, 0, 0.05) 60%,
//     transparent 100%
//   );
//   pointer-events: none;
//   transition: height 0.1s ease-in;
//   will-change: height;
// }
// .rcs-custom-scroll .rcs-inner-container.rcs-content-scrolled:after {
//   height: 5px;
//   transition: height 0.15s ease-out;
// }
// .rcs-custom-scroll.rcs-scroll-handle-dragged .rcs-inner-container {
//   user-select: none;
// }
// .rcs-custom-scroll .rcs-custom-scrollbar {
//   position: absolute;
//   height: 100%;
//   width: 6px;
//   right: 3px;
//   opacity: 0;
//   z-index: 1;
//   transition: opacity 0.4s ease-out;
//   padding: 6px 0;
//   box-sizing: border-box;
//   will-change: opacity;
//   pointer-events: none;
// }
// .rcs-custom-scroll .rcs-custom-scrollbar.rcs-custom-scrollbar-rtl {
//   right: auto;
//   left: 3px;
// }
// .rcs-custom-scroll.rcs-scroll-handle-dragged .rcs-custom-scrollbar {
//   opacity: 1;
// }
// .rcs-custom-scroll .rcs-custom-scroll-handle {
//   position: absolute;
//   width: 100%;
//   top: 0;
// }
// .rcs-custom-scroll .rcs-inner-handle {
//   height: calc(100% - 12px);
//   margin-top: 6px;
//   background-color: rgba(0, 0, 0, 0.3);
//   border-radius: 3px;
// }
// .react-datepicker-wrapper,
// .react-datepicker__input-container {
//   display: block !important;
// }

// .table_row_loading {
//   background-image: linear-gradient(90deg, #fff 0%, #ccc 100%);
//   background-size: 50% 5px;
//   background-position: 0 25px;
//   background-repeat: repeat-x;
//   animation: tableLoader 0.5s ease-in-out infinite;
// }

// @keyframes tableLoader {
//   from {
//     background-position: 0 25px;
//   }
//   to {
//     background-position: 100% 25px;
//   }
// }

// .table_row_loading td {
//   opacity: 0;
// }
// .error {
//   color: #db2828;
// }
// .success {
//   color: #21ba45;
// }
// .ui.icon.button.btn-action {
//   padding: 5px;
//   font-size: 1rem;
//   border-radius: 4px;
// }
